GHCR_OWNER=mundus131
IMAGE_TAG=latest

FRONTEND_PORT=5000
BACKEND_PORT=5010
RCC_PORT=5555

TDC_GRPC_HOST=192.168.0.100
TDC_GRPC_PORT=8081

TDC_AUTH_LOGIN_URL=http://192.168.0.100/auth/login
TDC_AUTH_USERNAME=admin
TDC_AUTH_PASSWORD=change-me
TDC_AUTH_REALM=admin

SERIAL_DEVICE_PATH=/dev/ttyUSB0
TZ=Europe/Warsaw
